<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Homestyle Audio Cooker</title>
  </head>
  <body>
    <header>
        <section class="cooker_coils">
          <div id="stripe_1"></div>
          <div id="stripe_2"></div>
          <div id="stripe_3"></div>
          <div id="stripe_4"></div>
        </section>
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
      <p>made by Mark Barstow</p>
    </footer>
  </body>
</html>