<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Homestyle Audio Cooker</title>
  </head>
  <body>
    <header>
        <section class="cooker_coils">
          <div id="stripe_1"></div>
          <div id="stripe_2"></div>
          <div id="stripe_3"></div>
          <div id="stripe_4"></div>
        </section>
    </header>
    <main>
      <section id="content_area">
      <div>{{{ title }}}</div>
      <div>{{{ body }}}</div>
      </section>
      <section class="input_area">
        <div>{{{ inputfield }}}</div>
        <div>{{{ btnfield }}}</div>
      </section>
    </main>
    <footer>
      <p>made by Mark Barstow</p>
    </footer>
  </body>
</html>